body{
    background-color: #0fb9b1;
}

.container{
    margin-top: 88px;
}

.maincol{
    border: 4px solid rgb(23, 124, 119);
    background-color: #8bf5d2;
    border-radius: 8px;
}

#addinput{
    border-radius: 6px;
    outline: none;
}

.buttonstyle{
    border-radius: 4px;
    border-color: rgb(23, 124, 119);
    background-color: rgb(23, 124, 119);
    color: white;
}

#buttondelete{
    margin: 8px 0px 8px 0px;
    border-radius: 4px;
    border-color: rgb(23, 124, 119);
    background-color: rgb(23, 124, 119);
    color: white;

}

.style{
    margin: 16px 16px 16px 16px;
    padding: 0px;
    font-weight: bold;
    border: 4px solid rgb(13, 115, 122);
    border-radius: 8px;
    color: rgb(13, 86, 95)
}


.listdesign{
    background-color: transparent;
    border: none;
    color: #07473b;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 24px;
    font-size: large;
    outline: none;
}